
/* label color */
.input-field label {
    color: #eee;
}
/* label focus color */
.input-field input[type=text]:focus + label, .input-field input[type=password]:focus + label, .input-field input[type=checkbox]:focus + label {
    color: #eee !important;
}
/* label underline focus color */
.input-field input[type=text]:focus, .input-field input[type=password]:focus {
    border-bottom: 1px solid #eee !important;
    box-shadow: 0 1px 0 0 #eee !important;
}
/* checkbox color */
input[type=checkbox] + label:before {
    border: 2px solid #eee;
    background: transparent;
}
input[type=checkbox]:checked + label:before {
    border: 2px solid transparent;
    border-bottom: 2px solid #eee;
    border-right: 2px solid #eee;
    background: transparent;
}
/* checkbox label color */
input[type=checkbox] + label {
    color: #eee !important;
}
/* icon prefix focus color */
.input-field .prefix.active {
    color: #eee;
    text-shadow: 0 0 5px #FFF;
}
